#nav-div {
    overflow: hidden;
}

.navbar a {
    opacity: 0.6;
    transition: 0.4s;
    color: black;
    display: inline;
    font-size: 2em;
    margin-right: 12em;
    text-align: right;
    margin: auto;
}

.navbar {
    background-image: url("images/osu.jpg");
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    cursor: default;
    background-color: var(--color-primary);
    text-align: right;
    border-bottom: medium solid black;
}

.navbar .navbar__active {
    opacity: 1;
    color: white;
    background-color: #4F78A1;
    border-radius: 10px;
}

.navbar .navbar__active:hover {
    background-color: #4F78A1;
}

.hidden {
    display: none;
}

.navbar a:hover {
    opacity: 1;
    border-radius: 10px;
    cursor: default;
    color: white;
    background-color: #8F98A1;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.image-links {
    text-align: center;
    margin-top: 20px;
    border-left: none;
    border-right: none;
}

body {
    opacity: 0;
    transition: opacity 1.5s;
    background-color: #424B54;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    --color-primary: #6F88A1;
}

.tab {
    width: 100%;
    max-width: 1200px;
    /* background-color: purple; */
    border: medium solid var(--color-primary);
    border-bottom: none;
    padding: 2px;
    height: auto;
    top: 50px;
    bottom: 0px;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
}