#nav-div {
    overflow: hidden;
    justify-content: space-evenly;
}

.navbar a {
    opacity: 0.6;
    transition: 0.5s;
    color: black;
    display: flex;
    font-size: 4em;
    text-align: right;
    margin: auto;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    cursor: default;
    background-color: #6F88A1;
    border-bottom: medium solid black;
}

.navbar .navbar__active {
    opacity: 1;
    color: white;
    background-color: #4F78A1;
    border-radius: 10px;
}

.navbar .navbar__active:hover {
    background-color: #4F78A1;
    cursor: default;
}

.hidden {
    display: none;
}

.navbar a:hover {
    opacity: 1;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #8F98A1;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

body {
    opacity: 0;
    transition: opacity ease-in 1s;
    background-color: #424B54;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    flex-grow: 1;
    height: calc(100vh - 84.5px);
    position: static;
}

.social-media {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.flex .content {
    display: flex;
    flex-flow: wrap;
    margin: 50px;
    padding: 10px;
    height: 90vh;
    flex-direction: row;
    border: medium solid black;
    background-color: #8F98A1;
    border-radius: 10px;
}

.flex img {
    display: flex;
    max-width: 128px;
    max-height: 128px;
    height: auto;
    width: auto;
    justify-content: space-between;
    opacity: 0.4;
    transition: 0.5s;
    color: white;
    /* filter: brightness(10000); */
}

.flex img:hover {
    opacity: 1;
}