#nav-div {
    overflow: hidden;
    justify-content: space-evenly;
    padding: 3px;
}

.navbar a {
    opacity: 0.6;
    transition: 0.5s;
    color: white;
    display: flex;
    font-size: 4em;
    text-align: right;
    margin: auto;
}

.content h2 {
    cursor: default;
}

.navbar {
    /* padding-top: 2px;
    padding-bottom: 2px; */
    display: flex;
    flex-direction: row;
    cursor: default;
    background-color: #252526;
    border-bottom: medium solid black;
}

.navbar .navbar__active {
    opacity: 1;
    color: #0077b5;
    /* box-shadow: 2px 2px black; */
    /* background-color: #1e1e1e; */
    /* border-radius: 10px; */
}

.navbar .navbar__active:hover {
    /* background-color: #1e1e1e; */
    color: #3a84b6;
    cursor: default;
}

.hidden {
    display: none;
}

.navbar a:hover {
    opacity: 1;
    /* border-radius: 10px; */
    cursor: pointer;
    /* box-shadow: 2px 2px black; */
    color: white;
    /* background-color: #2d2d30; */
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

body {
    opacity: 0;
    transition: opacity ease-in-out 1s;
    background-color: #212124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    flex-grow: 1;
    height: calc(100vh - 86.5px);
    position: static;
}

.social-media {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.flex .content {
    display: flex;
    color: #0077b5;
    /* flex-flow: wrap; */
    margin: 50px;
    padding: 10px;
    height: 90vh;
    flex-direction: row;
    /* border: medium solid black; */
    background-color: #252526;
    /* border-radius: 10px; */
}

.flex .social-media img {
    display: flex;
    max-width: 128px;
    max-height: 128px;
    height: 80%;
    width: 80%;
    justify-content: space-evenly;
    opacity: 0.4;
    transition: opacity 0.5s, transform 0.3s;
    color: white;

}

.content #about-me h1 {
    font-size: 2em;
}

.content #about-me p {
    padding: 10px;
    background-color: #313133;
    border: thin solid #313133;
    border-radius: 4px;
    font-size: 1.75em;
}

.flex .social-media img:hover {
    opacity: 1;
    transform: scale(1.2) translateY(-6px);
}

#steam-check {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

#steam-check img {
    max-width: 128px;
    max-height: 128px;

}

#steam-check p {
    padding: 10px;
    background-color: #313133;
    border: thin solid #313133;
    border-radius: 4px;
    font-size: 1.75em;
}

code {
    background-color: black;
    color: gray;
    border: thin solid gray;
    border-radius: 4px;
}